.fade-slide-in-top {
  opacity: 0;
  transform: translateY(50px);
  transition-property: all;
  transition-duration: 0.3s;

  &.active {
    opacity: 1;
    transform: translateY(0px);
  }
}

.zoom-in {
  opacity: 0;
  transform: scale(0);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}
