.fade-slide-in-bottom {
  opacity: 0;
  transform: translateY(-100%);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &.active {
    opacity: 1;
    transform: translateY(0%);
    transition-duration: 0.5s;
  }
}

.fade-slide-in-top {
  opacity: 0;
  transform: translateY(50px);
  transition-property: all;
  
  &.active {
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }
}

.fade-slide-in-top-slow {
  opacity: 0;
  transform: translateY(50px);
  transition-property: all;
  
  &.active {
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.6s;
  }
}

.zoom-in {
  opacity: 0;
  transform: scale(0);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-zoom-in {
  opacity: 0;
  transform: scale(0.75);
  transition-property: all;

  &.active {
    opacity: 1;
    transform: scale(1);
    transition-duration: 1.5s;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infinite-rotation {
  animation: rotating 2s linear infinite;
}

.infinite-rotation-slow {
  animation: rotating 120s linear infinite;
}
