@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animations';

.light-gradient {
  background: radial-gradient(farthest-side at center center, #aaa 1%, transparent 100%); 
  background-repeat: no-repeat;
  opacity: 0.2;
}

.curtain {
  @apply absolute w-full h-full bg-black top-0 left-0;
  transform: translateX(0%);
  transition: transform 0.3s;

  &.active {
    transform: translateX(100%);
  }
}
