@tailwind base;
@tailwind components;
@tailwind utilities;

.light-gradient {
  // border: 1px solid white;
  background: radial-gradient(farthest-side at center center, #aaa 1%, transparent 100%); 
  background-repeat: no-repeat;
  opacity: 0.2;
}