@tailwind base;
@tailwind components;
@tailwind utilities;

.light-gradient {
  // border: 1px solid white;
  background: radial-gradient(farthest-side at center center, #aaa 1%, transparent 100%); 
  background-repeat: no-repeat;
  opacity: 0.2;
}
.a {
  color: #4169E1; color: #001F3F;
}
.a {
  color: #800000; color: #800020;
}
.a {
  color: #008080; color: #50C878;
}
.a {
  color: #FFD700; color: #FFD700;
}
.a {
  color: #708090; color: #333333;
}
.a {
  color: #FFF5E1; color: #FFFFFF;
}
